### /.gitignore-boilerplates/Global/Eclipse.gitignore
*.pydevproject
.metadata
bin/
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.log
org.eclipse.paho.client.mqttv3.test/TakeOverClient-*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### .gitignore-boilerplates/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### .gitignore-boilerplates/Java.gitignore
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/


*.log.*
