# Set the default behavior, in case people don't have core.autocrlf set.
#* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text
*.xml text
*.md text
*.html text
*.yml text
*.sh text

*.class binary
*.jar binary
*.png binary
